body {
  font-family: Helvetica, sans-serif;
  background-color: #F6F9FC;
  color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.class-h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin-bottom: 16px;
}

.class-h2 {
  text-align: center;
  font-size: 20px;
  padding: 6px;
  background-color: #E1E8ED;
  border-radius: 8px;
  cursor: pointer;
}

.class-h3 {
  font-size: 16px;
  margin-top: 20px;
}

.class-h4 {
  text-align: center;
  background-color: #F6F9FC;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
}

#model-list li {
  margin-top: 6px;
  border: 1px solid #8D99AE;
  background-color: #E1E8ED;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 800px;
  min-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

#chat-history {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
  padding: 15px;
  border: 1px solid #8D99AE;
  border-radius: 8px;
  background-color: #E1E8ED;
}

#model-menu {
  padding: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #8D99AE;
}

#model-list li.selected {
  font-weight: bold;
  background-color: #8D99AE;
}

#api-key-input,
#api-endpoint-input,
#system-role-input,
#message-input {
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #8D99AE;
  border-radius: 8px;
  background-color: #F6F9FC;
  color: #333333;
}

#system-role-input {
  resize: none;
  height: 120px;
}

#message-input {
  resize: none;
}

#api-key-input,
#api-endpoint-input,
#system-role-input {
  width: 100%;
}

#send-button,
#copy-button,
#refresh-button,
#clear-button,
#about {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #8D99AE;
  border: 1px solid #8D99AE;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

#about {
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  display: block;
}

table {
  border: 0.8px solid #555;
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

th,
td {
  padding: 5px;
  border: 1px solid #555;
}

#refresh-button {
  text-align: center;
  width: 100%;
  background-color: #333333;
}

.message {
  margin: 20px 0;
  padding: 5px 10px 0px 10px;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #333333;
  border-radius: 10px;
  border: 1px solid #8D99AE;
}

.message > * {
  margin-bottom: -14px;
  margin-top: 0px;
}

.message.user {
  align-self: flex-end;
  background-color: #F6F9FC;
}

.message.bot {
  align-self: flex-start;
  background-color: #F6F9FC;
}

blockquote {
    border-left: solid 5px #8D99AE;
    color: #444;
    margin-left: 2em;
    padding-left: 1em;
    background-color: #E1E8ED;
}

pre {
    background-color: #E1E8ED;
    color: #444;
    padding: 1em;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    background-color: #F6F9FC;
    color: #444;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

p code {
    background-color: #E1E8ED;
    color: #444;
    padding: 2px 4px;
    border-radius: 5px;
}

.message form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.message textarea {
  font-size: 14px;
  resize: none;  
  height: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #8D99AE;
  border-radius: 8px;
  background-color: #F6F9FC;
  color: #333333;
}

.message button {
  padding: 5px;
  background-color: #8D99AE;
  border: 1px solid #8D99AE;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  background-color: #F6F9FC;
  border: 0.8px solid #8D99AE;
  color: #333333;
}

.action-button-edit,
.action-button-delete,
.action-button-copy {
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
}
